@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 60%;
  font-family: Roboto, san-serif;
  font-weight: 300;
  background-color: #f5f6f7;
  width:300px;
}
/* Form element setup */
form {
  position:  relative;
  top: 0%;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
  z-index: 1;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;

}
legend {
  font-weight: 400;
  padding-top: 5%;
}
legend, label {
  display: inline-block;
  margin: 0.5rem;
}
input[type='text'], textarea, select {
  display: block;
  padding: 0.5rem;
  width: 100%;
  background-color: white;
  border-radius: 0.25rem;
  border: 1px solid #e5e5e7;
  outline: none;
  /* List some properties that might change */
  transition-property: none;
  transition-duration: none;
}
input[type='text']:focus, textarea:focus, select:focus {
  border-color: #800080;
}
textarea {
  max-width: 300px;
  height: 100px;
  resize: none;
}
input[type='text'], select {
  height: 34px;
}
select {
  font-size: 0.875rem;
}
input[type='checkbox'] {
  position: relative;
  top: 5px;
  width: 22px;
  height: 22px;
  margin: 0 0.5rem;
  background-color: white;
  border: 1px solid #e5e5e5;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /* List some properties that might change */
  transition-property: none;
  transition-duration: none;
}
input[type='checkbox'] {
  border-radius: 5px;
}
input[type='checkbox']:checked {
  background-color: #800080;
  border: none;
}
input[type='checkbox']:checked:after {
  display: block;
  content: '';
  height: 4px;
  width: 10px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: translate(5px, 6px) rotate(-45deg) scale(1);
}
button {
  display: inline-block;
  margin: 1%;
  padding: 0.5rem 2rem;
  font-size: 125%;
  color: white;
  border: none;
  border-radius: 0.25rem;
  background-color: #800080;
  outline: none;
  box-shadow: 0 0.4rem 0.1rem -0.3rem rgba(0, 0, 0, .1);
  transform: perspective(300px) scale(0.95) translateZ(0);
  transform-style: preserve-3d;
  transition-property: none;
  transition-duration: none;
}
button:hover {
  cursor: pointer;
  background-color: #DA70D6;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transform: scale(1.1) rotateX(0);
}
button:active {
  background-color: #800080;
  transform: scale(1.05) rotateX(-10deg);
}

#parent {
    list-style: none;
    width: 120%;
    height: 100px;
    margin: 0;
    padding: 0;
    white-space: wrap;
    overflow-x: auto;
    overflow-y:auto;
    display:
}

#parent > li {
    display: inline-block;
    width: 30%;
    height: 70%;
}
#parent>li> h1{
  text-align: center;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}
#parent>li>h2{
  text-align: center;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  
}
#parent>li>img{
  float: right;
}
#checkButtons{
  padding:0;
  margin: 0;

}
#result,#whitelist,#switch{
  width: 100%;
  height: 60px;
  margin: 3%;
  padding: 0;
}
#parent > li:nth-child(even) {


}

/* css for switch class */

#mainonoffswitch{
  float: right;
}

.onoffswitch {
  position: relative; width: 63px;
  
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  
  display: block; overflow: hidden; cursor: pointer;
  height: 36px; padding: 0; line-height: 36px;
  border: 2px solid #E3E3E3; border-radius: 36px;
  background-color: #800080;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 36px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 22px;
  border: 2px solid #E3E3E3; border-radius: 36px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #800080;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
 border-color: #800080;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; 
}


